# **IDM Movie Recommendation System**

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [ ]:
path_movies = 'C:/dataset/recomendation_sys/movies/movies.csv'
path_ratings = 'C:/dataset/recomendation_sys/movies/ratings.csv'

movies = pd.read_csv(path_movies, sep=',') 
ratings = pd.read_csv(path_ratings, sep=',')

In [ ]:
movies.head(2)

In [ ]:
ratings.head(2)

In [ ]:
print('movies:', movies.shape)
print('ratings:', ratings.shape)

In [12]:
movies = movies.rename(index=str, columns={'movieId': 'movie_id'})
ratings = ratings.rename(index=str, columns={'userId': 'user_id', 'movieId': 'movie_id'})

In [15]:
movies = movies.merge(ratings, on='movie_id')

In [29]:
movies.head(2)

,movie_id,title,genres,user_id,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,5.0,859046895
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1303501039

In [50]:
movies['title'].value_counts().keys()

Index(['Pulp Fiction (1994)', 'Forrest Gump (1994)',
       'Shawshank Redemption, The (1994)', 'Jurassic Park (1993)',
       'Silence of the Lambs, The (1991)',
       'Star Wars: Episode IV - A New Hope (1977)', 'Matrix, The (1999)',
       'Terminator 2: Judgment Day (1991)', 'Schindler's List (1993)',
       'Braveheart (1995)',
       ...
       'Hollow Man II (2006)', 'Keane (2004)', 'Valhalla Rising (2009)',
       'Tennessee Johnson (1942)', 'Defense of the Realm (1986)',
       'Stranger by the Lake (L'inconnu du lac) (2013)',
       'Never Talk to Strangers (1995)', 'Air (2015)', 'Split, The (1968)',
       'Sweet Liberty (1986)'],
      dtype='object', length=10323)

In [52]:
movies['tite'].value_counts().values

array([325, 311, 308, ...,   1,   1,   1], dtype=int64)